* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Arial, 'Courier New', Courier, monospace;
  letter-spacing: normal;
  color: #fff;
}

i {
  cursor: pointer;
}

/*
  Styles of the main container
*/
#main-container {
  background-color: rgba(255, 255, 255, 0.313);
  width: 70vw;
  max-width: 550px;
  margin: 0 auto;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.336);
}

#main-container > *,
.list-items-c {
  border-bottom: 1px solid rgba(128, 128, 128, 0.445);
}

/*
  Styles of the header
*/
.main-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.form {
  background-color: inherit;
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__input {
    background-color: inherit;
    width: 100%;
    padding: 1rem;
    border: none;
    outline: none;
    font-style: italic;
    font-size: 1rem;
  }

  &__btn {
    background-color: inherit;
    border: none;
    padding-right: 1rem;
  }
}

.list-items-c {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
  align-items: center;
}

.list-items-c:nth-child(1) {
  border-top: 1px solid rgba(128, 128, 128, 0.445);
}

.to-do-des {
  display: block;
}

.list-items-c div {
  display: flex;
  align-items: center;
  gap: 0.65rem;
}

#clear-completed {
  text-align: center;
  padding: 1rem;
  color: rgba(62, 62, 62, 0.76);
  background-color: rgba(204, 204, 204, 0.2);
}

#clear-completed:hover {
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

#clear-completed:active {
  transform: translate(1px, 1px);
}

/*
Classes to add for the remove
*/
.line-through {
  text-decoration: line-through;
}

.new-background {
  background-color: #777645;
}

.fa-trash-can {
  display: none;
}

.remove {
  display: block;
}

.item-removed {
  display: none;
}
